/* CONTENEUR PRINCIPAL */
.container {
    margin-top: 100px;
}
form {
    max-width: 520px;
    margin: auto;
    padding: 25px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: #ffffff;
}

/* FORMULAIRE */
.field {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: var(--primary-color);
}

/* INPUTS */
input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1.5px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 14px;
}

/* FOCUS UX */
input:focus,
textarea:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

/* BOUTON */
button {
    width: 100%;
    padding: 14px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* MESSAGES */
.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

#successMessage {
    color: #00ff00;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

/* FOOTER */
.legales {
    text-align: center;
    padding: 20px;
}

.legales a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 20px;
    }

    header h1 {
        font-size: 22px;
    }
}
