/* ================= SECTIONS ================= */

.page {
    padding-top: 60px;
}
.section {
    padding: 15px 0;
}
/* ================= CONCEPT ================= */
.concept {
    color: var(--primary-color);
    background: linear-gradient(135deg, #ffffff 0%, #e0f2f7 100%);
    padding: 70px 0;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.content .img-box img {
    width: 100%;
    border-radius: 20px;
    transform: 0.5s ease-in-out;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.img-box img:hover {
    transform: scale(1.02);
}
.text {
    margin-left: 30px;
    line-height: 30px;
}
.text h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.text p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--text-gray);
}
.text p strong {
    color: var(--secondary-color);
}

/*  MÉTHODOLOGIE  */
.methodology {
    text-align: center;
    margin: 50px 0;
}
.methodology h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}
.methodology p {
    margin: 20px 0;
    color: var(--text-dark);
}
.cards {
    display: flex;
    gap: 20px; /* Ajoute un espace de 20px entre chaque élément de la liste */
    max-width: 1100px;
    margin: auto;
    padding-top: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    flex: 1;
    border-top: 5px solid var(--secondary-color);
}
.card h3 {
    color: var(--primary-color);
    margin-bottom: 20px;
}
/* Image dans les cards */
.card img {
    width: 100%; /* L’image prend toute la largeur de son conteneur (.card) */
    height: 160px;
    object-fit: cover; /* L’image remplit le conteneur sans déformer, en coupant si nécessaire */
    border-radius: 8px;
    margin: 10px 0 15px; /* Marge : 10px en haut, 0 à gauche/droite, 15px en bas */
}
/* ================= RÉSULTATS ================= */
.resultats {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}
.resultats h3 {
    color: var(--secondary-color);
}
.resultats ul {
    list-style: none; /* enlève les points */
    padding-left: 0; /* enlève l’espace à gauche */
    margin: 0;
}
.resultats li {
    padding: 5px 0;
    color: var(--text-gray);
}

/* ================= RESPONSIVE ================= */
@media (max-width: 992px) {
    .content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cards,
    .resultats {
        flex-direction: column;
        margin: 20px 40px;
    }
}
