/* selecteur qui selectionne tout les elements de la page */
* {
  margin: 0;
  padding: 0;
   box-sizing: border-box;   /*la largeur et la hauteur incluent padding et bordure */
}

/* VARIABLES*/
 :root {                       /*représente l’élément racine du documen */
  --primary: #1B91B1;
   --secondary: #DC2C8C;    /*variables personnalisées que tu peux réutiliser dans ton CSS. */
  --white: #ffffff;
  --gray: #f4f4f4;
}

/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex; /* conteneur flex pour afficher les éléments sur une seule ligne */
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  padding: 15px 30px;
  color: var(--white);
}

/* Logo */
.logo span {
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
}

/* Menu */
.menu {
  list-style: none;
  display: flex;      /* conteneur flex pour afficher les éléments sur une seule ligne */
  gap: 25px;          /* Ajoute un espace de 25px entre chaque élément de la liste */

}

.menu a {
  text-decoration: none;
  color: white;
}

/* Menu actif */
.menu a.active {
  background-color: var(--secondary);
  padding: 8px 14px;
  border-radius: 20px;
}

/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ================= SECTIONS ================= */
.section {
  padding: 60px 20px;
}
.page{
  padding-top: 60px;
}

/* ================= CONCEPT ================= */
.concept {
  background: linear-gradient(
    135deg,
    #1B91B1,
    #DC2C8C
  ); 
  color: white;
}

.content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 40px; /* Ajoute un espace de 40px entre chaque élément de la liste */
}

.content img {
  width: 45%;
  border-radius: 12px;
}

.text {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 12px;
  line-height: 30px;
}

/*  MÉTHODOLOGIE  */
.methodology {
  background-color: var(--gray);
  text-align: center;
}


.cards {
  display: flex;
  gap: 20px;  /* Ajoute un espace de 20px entre chaque élément de la liste */
  max-width: 1100px;
  margin: auto;
  padding-top: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  flex: 1;
  border-top: 5px solid var(--secondary);
}

/* Image dans les cards */
.card img {
  width: 100%;           /* L’image prend toute la largeur de son conteneur (.card) */
  height: 160px;           
  object-fit: cover;     /* L’image remplit le conteneur sans déformer, en coupant si nécessaire */
  border-radius: 8px;      
  margin: 10px 0 15px;   /* Marge : 10px en haut, 0 à gauche/droite, 15px en bas */
}
/* ================= RÉSULTATS ================= */
.resultats {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}
.resultats ul {
  list-style: none;      /* enlève les points */
  padding-left: 0;       /* enlève l’espace à gauche */
  margin: 0;
}
.resultats li {
  padding: 5px 0;       /*espacer les lignes */
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .cards {
    flex-direction: column;
  }

  .menu {
    display: none;
    flex-direction: column;
    background: var(--primary);
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}